<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.description %>
</p>

<li><%= link_to "Back", products_path %></li>

